<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: documentHead('Cambiar contraseña')}"></head>
<body class="sb-nav-fixed">
<nav th:replace="~{fragments/layout :: navbar}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:replace="~{fragments/layout :: sidebar-profesor}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Cambiar contraseña</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/profesor/perfil}">Mi perfil</a></li>
                    <li class="breadcrumb-item active">Cambiar contraseña</li>
                </ol>
                <div th:replace="~{fragments/layout :: alertas}"></div>
                <div class="card mb-4" style="max-width: 500px;">
                    <div class="card-body">
                        <form th:action="@{/profesor/cambiar-password}" th:object="${cambioPasswordDTO}" method="post">
                            <div class="mb-3">
                                <label class="form-label">Contraseña actual</label>
                                <input type="password" class="form-control" th:field="*{passwordActual}" />
                                <div class="text-danger small" th:if="${#fields.hasErrors('passwordActual')}" th:errors="*{passwordActual}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nueva contraseña</label>
                                <input type="password" class="form-control" th:field="*{passwordNueva}" />
                                <div class="text-danger small" th:if="${#fields.hasErrors('passwordNueva')}" th:errors="*{passwordNueva}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirmar nueva contraseña</label>
                                <input type="password" class="form-control" th:field="*{passwordConfirmacion}" />
                                <div class="text-danger small" th:if="${#fields.hasErrors('passwordConfirmacion')}" th:errors="*{passwordConfirmacion}"></div>
                            </div>
                            <button class="btn btn-primary" type="submit">Actualizar contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/layout :: footer}"></footer>
    </div>
</div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
