<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: documentHead('Cambiar contraseña')}"></head>
<body class="sb-nav-fixed">
<nav th:replace="~{fragments/layout :: navbar}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/layout :: sidebar-admin}"></div>
    <div id="layoutSidenav_nav" sec:authorize="!hasRole('ADMIN')" th:replace="~{fragments/layout :: sidebar-recepcion}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Cambiar contraseña</h1>
                <div th:replace="~{fragments/layout :: alertas}"></div>
                <div class="card mb-4">
                    <div class="card-body">
                        <form th:action="@{/cambiar-password}" th:object="${cambioPasswordDTO}" method="post">
                            <div class="mb-3">
                                <label class="form-label">Contraseña actual</label>
                                <input class="form-control" type="password" th:field="*{passwordActual}" />
                                <div class="text-danger small" th:if="${#fields.hasErrors('passwordActual')}" th:errors="*{passwordActual}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nueva contraseña</label>
                                <input class="form-control" type="password" th:field="*{passwordNueva}" />
                                <div class="text-danger small" th:if="${#fields.hasErrors('passwordNueva')}" th:errors="*{passwordNueva}"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirmar nueva contraseña</label>
                                <input class="form-control" type="password" th:field="*{passwordConfirmacion}" />
                                <div class="text-danger small" th:if="${#fields.hasErrors('passwordConfirmacion')}" th:errors="*{passwordConfirmacion}"></div>
                            </div>
                            <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/layout :: footer}"></footer>
    </div>
</div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
